<%- include('partials/head') %>
<body>
    <%- include('partials/navbar')%>
    <form action="/note" method="post">
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" class="form-control" id="title" name="title">
        </div>
        <div class="form-floating">
            <textarea class="form-control" placeholder="" id="description" name="description"></textarea>
            <label for="description">Description</label>
          </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
</body>
</html>